.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.hide-text {
    text-overflow: clip;
    white-space: nowrap;
}

.navheight {
    height: 70px;
}

.mainheight {
    /* Firefox */
    height: -moz-calc(100% - 70px);
    /* WebKit */
    height: -webkit-calc(100% - 70px);
    /* Opera */
    height: -o-calc(100% - 70px);
    /* Standard */
    height: calc(100% - 70px);
}

.linkParent {
    pointer-events: none;
}

.linkParent:hover {
    color: #343a40;
    top: 2px;
    left:-2px;
    font-weight: bolder;
}

.linkParent > div > .link {
    pointer-events: auto;
}

.link:hover {
    color: #343a40 ;
    text-decoration: inherit;
}

.link {
    color: #343a40;
}

.webMenu_activeClass {
    text-decoration: underline;
}