.react-datepicker-wrapper, .react-datepicker__input-container {
  display: block;
}

.react-datepicker__header {
  text-align: center;
  background-color: orange;
  color: #ffffff;
  border-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 8px;
  position: relative;

}

.react-datepicker__today-button {
  background: #cccccc!important;
  border-top: 0px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #ffffff;
  color: #cccccc;
  border: 0px;
  border-radius: 0;
  display: inline-block;
  position: relative;
}

.react-datepicker__navigation--next{
  border-left-color: #ffffff!important;
}

.react-datepicker__navigation--previous{
  border-right-color: #ffffff!important;
}


.react-datepicker__triangle{
  border-bottom-color: orange!important;
}

.react-datepicker__day--selected{
  background-color: orange!important;
  color: white!important;
  border-radius: 0!important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #cccccc!important;
  border-radius: 0!important;
}

.react-datepicker__close-icon::after{
  background-color: orange!important;
}

.react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
  background-color: orange!important;
  color: white!important;
  border-radius: 0!important;
}

.react-datepicker__day:hover {
  border-radius: 0!important;
  color: #000000!important;
}

.react-datepicker__current-day{
  color: #ffffff;
}

.react-datepicker__day-name{
  color: #ffffff;
}

.react-datepicker__current-month{
  color: #ffffff;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.scrollnone  {
  ::-webkit-scrollbar {
    display: none;  /* Chrome Safari */
  }
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  overflow-y:scroll;
  overflow-x:hidden;
}