.bg_orange{
    background-color: #f1a177;
}

.textOrange{
    color: #f1a177;
}

.bg_lightOrange{
    background-color: #fadfd1;
}

.textLightOrange{
    color: #fadfd1;
}

.bg_grey{
    background-color: #c1b9b9;
}

.textGrey{
    color: #c1b9b9;
}

.bg_lightGrey{
    background-color: #f8f3f0;
}

.textLightGrey{
    color: #f8f3f0;
}