// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

#root {
  margin:auto;
  text-align: center;
  height:100vh;
  // font-size: 96px;
  // font-weight: 100;
  // font-family: 'Lato', serif;
}

// color palette now #f1a177 (orange); #fadfd1 (creamy); #f8f3f0 (almost white); #c1b9b9 (grey)