@import "~bootstrap/scss/bootstrap";

@mixin prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

#root {
  margin: auto;
  text-align: center;
  height: 100vh;
  overflow-y:hidden;
  // font-size:12px;
  // font-weight: 100;
  // font-family: 'Lato', serif;
}


.box-shadow {
  box-shadow: 5px 5px 10px 0px #343a40;
}

.headerText {
  font-size: 1.8em;
}

.webMeniu {
  font-size: 1.8em;
}

@media(max-width: 320px){
  .headerText {
    font-size: 1.4em;
  }
}

.google {
  background-color: #4285F4;
  color: white;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.btn:hover {
  opacity: 1;
  color: #ffffff;
}

// color palette now #f1a177 (orange); #fadfd1 (creamy); #f8f3f0 (almost white); #c1b9b9 (grey)