.PopUp_container {
    color: #f8f3f0;
    background-color:hsl(120, 40%, 60%);
    padding: 1em;
    box-shadow: 5px 5px 10px 0px #343a40;
    height:10%;
    margin-left:-15px;
    margin-right: -15px;
    top: 1em;
    margin-bottom: 1em;
    border-radius: 0.25em;
    transition: transform 0.5s ease-out 0.5s;
}