.PopUp_container {
    color: #f8f3f0;
    background-color:#71c271;
    padding: 1em;
    box-shadow: 5px 5px 10px 0px #343a40;
    height:10%;
    margin-left:-15px;
    top: 1em;
    margin-bottom: 1em;
    border-radius: 0.25em;
    transition: all 1s ease-out;
}