.PopUp_container {
    color: #f8f3f0;
    padding: 1em;
    box-shadow: 5px 5px 10px 0px #343a40;
    margin-left:-15px;
    top: 1em;
    margin-bottom: 1em;
    border-radius: 0.25em;
    transition: transform 0.5s ease-out 0.5s;
}