@mixin prefix($name, $value) {
    @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
      #{$vendor}#{$name}: #{$value};
    }
  }

.Background_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #c1b9b9;
    z-index: -5;
    opacity: 0.75; 
}

.Background_sky {
    position: absolute;
    top: 0;
    // left: -100%;
    width: 100%;
    height: 100%;
    background: #f8f3f0;
    z-index:-1;
    // @include prefix(animation, bgIn 6s 1s linear infinite);
    // @include prefix(transform, skewX(10deg));
    opacity:0.75;
}

.Background_ground {
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 100%;
    background: #343a40;
    z-index: -1;
}

@keyframes bgIn{
    0%{
      left: 100%;
    }
    100%{
      left: -100%;
    }
  }
 
$basepx:1.25;


@function em($target, $context: $basepx) {
   @if $target == 0 { @return 0 }
   @return ($target * $context)/1.28;
}

@mixin prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.container{
  height: 100%;
  width: 100%;
  display: table;
  overflow: hidden;
  .car-wrapper{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}

.car {
  left: em(-0.5vw, $basepx);
  width: em(32vw, $basepx);
  height: em(20vw, $basepx);
  position: relative;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
  @include prefix(animation, carMove 0.3s infinite);

  .body {
    position: absolute;
    top: 0;
    left: em(-2vw, $basepx);
    width: em(23vw, $basepx);
    height: em(40vw, $basepx);


    div {
      position: absolute;
      background: #c1b9b9;
      width: em(29vw, $basepx);
      height: 4000px;
      bottom: em(-1vw, $basepx);

    }
  }
}

.wind{
  position: absolute;
  z-index: -1;
  right: 100%;
  height: 100%;
  margin-right: em(-2vw, $basepx);
  .p{
    position: absolute;
    background: #c1b9b9;
    border-radius: em(1vw, $basepx);    
    height: em(1vw, $basepx);
  }
  .p1{
    width: em(7vw, $basepx);
    position: absolute;
    right: 0;
    top: em(2.5vw, $basepx);
    animation: wind 1s -1s linear infinite;
  }
  .p2{
   width: em(10vw, $basepx);
   right: em(4vw, $basepx);
   top: em(6vw, $basepx); 
    animation: wind 1s -2s linear infinite;
  }
  .p3{
   width: em(5vw, $basepx);
   right: em(0vw, $basepx);
   top: em(10.5vw, $basepx); 
    animation: wind 1s -1s linear infinite;
  } 
  .p4{
   width: em(6vw, $basepx);
   right: em(10vw, $basepx);
   top: em(13.5vw, $basepx); 
    animation: wind 1s 1s linear infinite;
  }   
  .p5{
   width: em(7vw, $basepx);
   right: em(3vw, $basepx);
   top: em(14.5vw, $basepx); 
    animation: wind 1s -1.5s linear infinite;
  }     
}

.car-wrapper_inner{
  position: absolute;
  z-index: 4;
  bottom: 15%;
  left: 35%;
}

@keyframes carMove{
  0%{
    transform: translateY(0px);
  }
  50%{
   transform: translateY(-1px); 
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes wind{
  0%{
    transform: translateX(100%);
    opacity: 1;
  }
  100%{
    transform: translateX(-400%);
    opacity: 0;
  }
}

.car_outter{
  @include prefix(transform, translateX(-300%));
  position: relative;
  animation: carDrive 5s 1s cubic-bezier(0.88, 0.08, 0.16, 1.1) infinite;
}

@keyframes carDrive{
  0%{
    transform: translateX(-300%);
  }
  25%{
    transform: translateX(0%);
  }
  70%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(300%);
  }
}

@keyframes wrapperIn{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

.wheels {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}