.UsersTable_container {
    width: 75%;
    height: 85%;
    margin-top: 3em;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.UsersTable_body {
    width:100%;
    background-color: #ffffff;
    flex-grow: 1;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.UserTable_tableHead {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    font-size: 1.5em;
    color: #343a40;
    position: sticky;
    top: 0;
    color: #343a40;
    z-index: 5;
}
.itemUsers {
    align-self: center;
    grid-column: 1/2;
    grid-row:  1/3;
}
.itemReservation {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 1rem;
}
.itemDays {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
}

.UserTable_userContainer {
    margin-bottom:1.5em;
    display:flex;
    flex-direction: row;
    font-size: 1.5em;
    color: #343a40;
    scroll-snap-align: start;
    & div {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }
}

.UserTable_userContainerMain {
    display:flex;
    flex-direction: row;
    font-size: 1.5em;
    scroll-snap-align: end;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    color: #343a40;
    z-index: 3;
    padding-top:1em;
    padding-bottom: 2em;
    font-weight: 900;
    & div {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }
}

.UserTable_greenIcon {
    color:#95D195;
    font-size: 1.5em;
}

.UserTable_greenClickableIcon {
    color:#95D195;
    font-size: 1.5em;
    cursor: pointer;
    &:hover {
        color:#71c271;
    }
    &:active {
        position:relative;
        top:2px;
        left:1px;
    }
}

.UserTable_redIcon {
    color: #E68F8C;
    font-size: 1.5em;
}

.UserTable_greyIcon {
    color: #c1b9b9;
    font-size: 1.5em;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
} // param for each browser will be added later

@media(max-width:1600px){
    .UsersTable_container {
        width: 100%;
    }
}

@media(max-width:950px){
    .UserTable_tableHead {
        font-size:1em;
    }
    .UserTable_userContainer {
        font-size:1em;
    }
    .UserTable_userContainerMain{
        font-size:1em;
        top: 4em;
    }
}

@media(max-width: 350px){
    .UserTable_tableHead {
        font-size:0.9em;
    }
    .UserTable_userContainer {
        font-size:0.9em;
    }
    .UserTable_userContainerMain{
        font-size:0.9em;
        top: 3.6em;
    }
}